@{
    Layout = "~/Views/Shared/_PC.cshtml";
}


<div class="easyui-panel" style="margin-bottom: 5px;padding:5px;">
    帐号支持中文，密码不支持。此处帐号仅用于区域管理员登录。<br />
    不同区可能会存在同名的情况，考虑到帐号的唯一性，建议登录帐号采用“区域+姓名”的方式，比如“江北李四”。<br />
    删除记录前记得先保存数据。
</div>
<div style="padding:10px;height:auto">
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="addRecord()">新增</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cut'" onclick="editRecord()">修改</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove'" onclick="deleteRecord()">删除</a>

</div>


<table class="easyui-datagrid"
       id="dg" 
       data-options="
                height: (document.body.clientHeight || document.documentElement.clientHeight)-100,
				rownumbers:true,
				iconCls: 'icon-edit',
				singleSelect: true,
				url: '/Web/AreaManager/list',
				method: 'get'">
    <thead>
        <tr>
            <th data-options="field:'name',width:200">姓名(登录帐号)</th>
            <th data-options="field:'pwd',width:200">登录密码</th>
            <th data-options="field:'code',width:200">负责地区</th> 
        </tr>
    </thead>
</table>


<!-- 新增 -->
<div id="dlg" class="easyui-dialog"
     style="width: 400px; height: 400px; padding: 20px" closed="true"
     modal="true" buttons="#dlg-buttons">
    <form id="fm" method="post">


        <div style="margin-bottom: 20px">
            <span style="width: 80px;">姓名(登录帐号)：</span>
            <input name="name"
                   style="width: 100%; height: 32px" class="easyui-textbox"
                   maxlength="50" data-options="required:true,prompt:'支持中文'" />
        </div>
        <div style="margin-bottom: 20px">
            <span style="width: 80px;">密码:</span>
            <input name="pwd"
                   style="width: 100%; height: 32px" class="easyui-textbox"
                   maxlength="50" data-options="required:true,prompt:'请输密码'" />
        </div>

        <div style="margin-bottom: 20px">
            <span style="width: 80px;">管理区域：</span>
            <input name="code"
                   style="width: 100%; height: 32px" class="easyui-combobox"
                   maxlength="50"
                   data-options="editable:false,panelHeight:'200px',valueField:'code',textField:'name',url:'/Web/Area/areaComb'" />
        </div>
        <input type="hidden" name="sid" value="" />

    </form>
</div>
<div id="dlg-buttons">
    <a href="#" class="easyui-linkbutton" iconcls="icon-ok"
       onclick="saveObj()">保存</a>
    <a href="#" class="easyui-linkbutton"
       iconcls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
</div>


@section Script{
<script type="text/javascript">

    //新增界面
    function addRecord() {
        //弹出来
        $('#dlg').dialog('open').dialog('setTitle', '新增帐号');
        $('#fm').form('clear');
    }

    //修改界面
    function editRecord() {
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            $
                    .ajax({
                        url: "/Web/AreaManager/detail?sid=" + row.sid,
                        type: "get",
                        timeout: "100000",
                        dataType: "json",
                        data: {},
                        success: function (text) {
                            if (text.msg == "") {
                                $('#fm').form('load', text.data);
                                $('#dlg').dialog('open').dialog('setTitle',
                                        '编辑帐号');
                            } else {
                                $.messager.alert("错误", text.msg, "info", function () {
                                });
                            }
                        },
                        error: function () {
                            $.messager.alert("错误", "系统异常", "info", function () {
                            });
                        }
                    });
        }
    }

    //删除记录
    function deleteRecord() {
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            $.messager.confirm('提示', '你确定要删除这个帐号吗？', function (r) {
                if (r) {
                    $.ajax({
                        url: "/Web/AreaManager/del?sid=" + row.sid,
                        type: "get",
                        timeout: "100000",
                        dataType: "json",
                        data: {},
                        success: function (text) {
                            if (text.msg == "") {
                                $('#dg').datagrid('reload');
                            } else {
                                $.messager.alert("错误", text.msg, "info", function () {
                                });
                            }
                        },
                        error: function () {
                            $.messager.alert("错误", "系统异常", "info", function () {
                            });
                        }
                    });
                }
            });
        }
    }

    //保存
    function saveObj() {
        $('#fm').form('submit', {
            url: "/Web/AreaManager/save",
            dataType: "json",
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (text) {
                var text = eval('(' + text + ')');
                if (text.msg == '') {
                    $('#dlg').dialog('close');
                    $('#dg').datagrid('reload');

                } else {
                    $.messager.alert("错误", text.msg, "info", function () {
                    });
                }
            }
        });
    }

</script>

}